1986BE1T/HelloWorld/Debug/Exe/
1986BE1T/HelloWorld/Debug/List/HelloWorld_1T.map
1986BE1T/HelloWorld/Debug/Obj/
1986BE3T/HelloWorld/Debug/Exe/
1986BE3T/HelloWorld/Debug/List/
1986BE3T/HelloWorld/Debug/Obj/
1986BE9x/HelloWorld/Debug/Exe/
1986BE9x/HelloWorld/Debug/List/
1986BE9x/HelloWorld/Debug/Obj/
